<html>
<head>
    <title>Gerenciador de usuarios</title>
    <meta charset="utf-8">
</head>
<body>
    <h2>Cadastrar ou Atualizar Usuario</h2>
    <form>
        <input id="userid" type="text" name="id" placeholder="id" value="" disabled="true">
        <input id="username" type="text" name="name" placeholder="nome">
        <input id="useremail" type="text" name="email" placeholder="email">
        <input id="userpassword" type="text" name="password" placeholder="senha">
        <input type="submit">
    </form>
    <h2>Usuarios Cadastrados</h2>
    <ul>
        <% for(var i=0; i<users.length; i++) {%>
            <li>
                <%= users[i].name %>
            </li>
            <button data-id="<%= users[i].id %>" onclick="remove(this)">Remover</button>
            <button data-id="<%= users[i].id %>" onclick="select(this)">Selecionar</button>
            <% } %>
    </ul>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/user.js"></script>
</body>
</html>